@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    background: url("../images/background/bg-comments.jpg") top center no-repeat #302217;;

}

#main {
    position: relative;
    height: 85vh;
    width: 62vw;
    background-color:  #ffffff51;
    left: 50%;
    top: 15vh;
    transform: translateX(-50%);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main-header {
    position: absolute;
    height: 10vh;
    width: 62vw;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77b71d;
    z-index: 9;
}

#comment-container {
    margin-top: 2vh;
    height: 73vh;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    justify-content: space-between;
}

.comment {
    margin-top: 1vh;
    height: 20vh;
    width: 32%;
    background-color: blue;
}

.comment-head {
    height: 20%;
    width: 100%;
    background-color: #77b71d;
    border-bottom: 3px solid #302217;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-align: center;
}

.comment-subject {
    height: 90%;
    width: 70%;
    margin-left: 2%;
    background-color: #191e11;
    font-size: 1.15rem;
}

.comment-date {
    height: 90%;
    width: 20%;
    margin-right: 2%;
    background-color: #191e11;
}

.comment-content {
    height: 80%;
    width: 100%;
    background-color: #ffffff;
}

.comment-edit {
    height: 15%;
    width: 20%;
    position: relative;
    top: -15%;
    left: 80%;
    background-color: black;
}
