@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');

:root {
    --card-bg : #edeae9;
    --card-border: #b7aca6;
    --card-hp: #53704D;
    --card-mp: #6A4D70;
    --card-cost: #4D6570;
    --card-txt: #b7aca6;

}

.card-hand {
    display: block;
    background-color: var(--card-bg);
    border: solid 4px var(--card-border);
    border-radius: 10px;
    margin-left: 2%;
    height: 80%;
    width: 20%;
}

.card-hand-details {
    height: 3vh;
    width: 3vh;
    border-radius: 100%;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(-30%, -30%);
    color: white;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
}

.card-hp {
    background-color: var(--card-hp);
}

.card-atk{
    background-color: var(--card-mp);
}

.card-cost{
    background-color: var(--card-cost);
}

.card-hand-img{
    position: relative;
    top: -8.5vh;
    left: 5%;
    width: 90%;
    height: 60%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-hand-desc {
    position: relative;
    top: -8vh;
    /* left: 5%; */
    margin: auto;
    width: 80%;
    height: 25%;
    background-color: var(--card-txt);
    border-radius: 5px;
    padding: 4px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--card-bg);
}

.card-opp {
    height: 90%;
    width: 11%;
    margin-left: 1%;
    background-color: var(--card-bg);
    background-image: url('../images/background/card-opp.png');
    background-position: center;
    background-size: cover;
    border: 2px solid var(--card-border);
    border-radius: 3px;
    transform: rotateY('180');
}

