@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');

body{
    padding: 0;
    margin:0;
    background-image: url("../images/background/bg-index.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#container {
    width: 20vw;
    height: 225px;
    background-color: rgb(77, 73, 66);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: solid 3px rgb(56, 53, 48);
}
#top-container{
    position: relative;
    top: 3px;
    height: 85px;
    width: 98%;
    margin: auto;
}
#logo {
    height: 150px;
    position: relative;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #ffffff00 0%,rgb(77, 73, 66) 35%,rgb(68, 63, 56) 50%,rgb(77, 73, 66) 65%,#ffffff00 100%);
    width: 100%;
    position: relative;
    top: -95px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: larger;
    color: #f5eaea;
}
#break{
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 252, 252, 0) 15%,#8aed0080 35%,#8aed00bb 50%,#8aed0080 65%,rgba(255, 255, 255, 0) 85%);
    position: relative;
    top: -95px;
}
#box-login{
    background-color: rgb(71, 67, 61);
    width: 96%;
    margin: auto;
    padding-top: 1em;
    border: solid 2px rgb(56, 53, 48);
    border-radius: 3px;
}

input{
    background-color: rgb(66, 63, 57);
    display: block;
    height: 1.5rem;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: solid 1px rgb(56, 53, 48);
    border-radius: 3px;
    color: #f5eaea;
}

button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: medium;
    color: rgb(56, 53, 48);
    display: block;
    position: relative;
    height: 40px;
    width: 100px;
    bottom: -25px;
    margin: auto;
    border: solid 3px rgb(56, 53, 48);
    border-radius: 5px;
    background: linear-gradient(to bottom,#8aed00 15%,#6bb800 25%, #6bb800 75%,#8aed00 85%);
}
button:hover{
    cursor: pointer;
}


