@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');

body{
  padding: 0;
  margin:0;
  background-image: url("../images/background/bg-bonta.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#main-left{
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#arene {
  position: absolute;
  height: 320px;
  width: 300px;
  right: 27%;
  top: 15%;
  animation: pulse 3s alternate infinite linear;
  /* border: solid 3px rgb(0, 0, 0); */
  background-image: url('../images/background/arene.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#arene:hover{
  scale: 1.2;
  cursor: pointer;
  /* border: solid 3px rgb(68, 68, 65); */

}

@keyframes pulse {
  0%{
      scale: 1.0;
  }
  100% {
      scale: 1.05;
  }
}

#logo{
    height: 25px;
    opacity: 0.7;
}

#burger-menu{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #3a3838;
  border: solid 3px #252424;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#burger-menu:hover, #logo:hover {
  opacity: 1;
}

ul{
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
}

li{
  margin-top: 1rem;
  color: #ebe7e5;
}

.elem-menu:hover{
  transform: skewX(-15deg);
  cursor: pointer;
}

.close {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 20px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #ebe7e5;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



/* Code venant de w3c */

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    margin-left: 50%;
    display: inline-block;
    width: 40px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #392820;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: #ebe7e5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3b5c33;
  }
    
  input:checked + .slider:before {
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

#chat {
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 15vw;
  left: 5vw; */
  padding: 5px;
  background-color: #252424;
  border: 3px solid #3a3838;
  display: block;
}

#chat-container{
  width: 80%;
  height: 60%;
  display: block;
}

button {
  text-decoration: none;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  background: none;
  border: none;
  color: #ebe7e5;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}

#deck-back {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff3a;
  display: none;
  z-index: 1;
}

#deck {
  height: 90vh;
  width: 90vw;
  position: absolute;
  top: 5vh;
  left: 5vw;
  background-color: #252424;
}

#title {
  width: 500px;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #f0a02d;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.letter {
  font-size: 130px;
  line-height: 120px;
  height: 100px;
  transform: translateY(200px);
}

.L {
  animation: appear .2s forwards ease-out ;
}

.O {
  animation: appear .2s forwards .1s ease-out;
}

.B1 {
  animation: appear .2s forwards .2s ease-out;
}

.B2 {
  animation: appear .2s forwards .3s ease-out;
}

.Y {
  animation: appear .2s forwards .4s ease-out;
}


@keyframes appear {
  0% {
      opacity: 1;
      transform: translateY(200px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}