body{
    padding: 0;
    margin:0;
    background-image: url("../images/background/bg-lobby.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#dojo {
    position: absolute;
    top: 17.7%;
    left: 5.6%;
    animation: pulse 3s alternate infinite linear;
    border-radius: 50%;
    border: solid 3px rgba(255, 255, 0, 0);
}

#dojo:hover{
    scale: 1.2;
    cursor: pointer;
    border: solid 3px rgb(117, 117, 33);
    box-shadow: 0 10px 20px 0 rgba(117, 117, 33, 0.575);
}

#fontaine {
    position: absolute;
    top: 36.7%;
    left:57.4%;
    animation: pulse 3s alternate infinite linear;
    border: solid 3px rgba(255, 255, 255, 0);
    border-radius: 50% 50% 30% 30%;

}

#fontaine:hover{
    scale: 1.2;
    cursor: pointer;
    border: solid 3px rgb(117, 117, 33);
    box-shadow: 0 10px 20px 0 rgba(117, 117, 33, 0.575);
}

@keyframes pulse {
    0%{
        scale: 1.0;
    }
    100% {
        scale: 1.05;
    }
}

#logo{
    height: 150px;
    display: none;
}

#burger-menu{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: red;
    border-radius: 20px;
}

#burger-menu:hover {
    animation: burger 1s forwards ;
}


@keyframes burger {
    0% {

    } 100% {
        width: 400px;
        height: 600px;
        #logo {
            display: block;
        }
    }
      
}
